<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
  	<%- include('partials/nav') %>
  	<div class="jumbotron" style="background-image: url('/images/404.jpg');"></div>
  	<div class="container title">
  		<h4 class="text-sm-center text-xs-left"><%= title %></h4>
  	</div>

  	<%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  </body>
</html>