<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
  	<%- include('partials/nav') %>
  	<div class="jumbotron"></div>
  	<div class="container title">
  		<h4 class="text-sm-center text-xs-left"><%= title %></h4>
  	</div>

  	<div class="images container">
  		<div class="row">
  			<% for (var i = 0; i < movies.length; i++) { %>
  				<div class="col-md-6 col-lg-4 image">
            <a href="/star_wars_episode/<%= movies[i].episode_number %>">
	    			  <img src='/images/<%= movies[i].poster %>' class="img-fluid mx-auto"/>
            </a>
	    			<div class="preview">
	    				<a href="/star_wars_episode/<%= movies[i].episode_number %>">
	    					<h6><%= movies[i].title %></h6>
	    					<p>View more ></p>
	    				</a>
	    			</div>
	    		</div>	
	    	<% } %>
  		</div>
  	</div>
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  </body>
</html>